---
- name: Installing postgresql
  include: 'install.yml'

- debug: msg={{ postgresql_data_dir }}
- name: Configuring the master
  include: 'configure-master.yml'
  when: postgresql_master
- include: 'users.yml'
  when: postgresql_master
- include: 'databases.yml'
  when: postgresql_master

- name: Configuring slaves
  include: 'configure-slaves.yml'
  when: postgresql_master
